h1,
h2,
h3,
h4 {
  margin: 0;
}

table {
  border: 1px solid #333;
}

tr,
td {
  border: 1px solid #333;
}

header#banner {
  background-color: #cfe0e8;
  height: 150px;
}

header#banner p {
  text-align: center;
}

img.img-banner {
  width: 100%;
  height: 60px;
}

nav#menu {
  background-color: #b7d7e8;
  height: 120px;
}

nav#menu ul {
  margin: 0;
}

div#blocos {
  display: flex;
  background-color: #87bdd8;
}

div#blocos div#bloco1 {
  margin: 5px;
  flex: 1.5;
}
div#blocos div#bloco2 {
  margin: 5px;
  flex: 1;
}

section#areaprincipal {
  background-color: #daebe8;
  height: 250px;
}

article#areasecundaria {
  background-color: #cfe0e8;
  height: 250px;
}

aside#barralateral {
  background-color: #bccad6;
  height: 600px;
}

footer#rodape {
  background-color: #8d9db6;
  padding-bottom: 10px;
}

.texto {
  color: blue;
}

.texto-alt1 {
  color: red;
}
.texto-alt2 {
  color: purple;
}
.texto-alt3 {
  color: green;
}

.texto-alt4 {
  color: cyan;
}
